.Iconmap{
    display: grid;
    grid: 140px / auto auto auto;
    grid-gap: 5px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    grid-auto-columns: auto;
    
}
