.game-board{
    justify-content: center;
    align-items: center;
    transform: scale(.9) rotateX(45deg) rotateZ(45deg) ;
    transition: transform .5s ease .5s;
    position: relative;
    background-color: rgb(183, 216, 214);
}
    
    .game-board:hover {
      transform: scale(1.5) rotateX(0) rotateZ(0);
    }
      ::before {
        opacity: 0;
        height: 0;
      }
      
      ::after {
        opacity: 0;
        width :0;
      }



.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 85px;
}

.game-info {
  margin-left: 20px;
}