.Form{
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin: 5px;
}
    
.name{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;


}

.Form .text{
    margin: 5px;
}

.btn{
    background-color: rgb(160, 164, 180);
    opacity: 0.7;
    color: rgb(153, 81, 13);
    padding: 15px 42px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
  }

  .btn:hover{
      background-color: rgb(97, 176, 201);
  }